# SPDX-FileCopyrightText: Copyright (c) 2024 Infineon Technologies AG
# SPDX-License-Identifier: MIT

[submodule "submodules/mtb-example-optiga-nbt-adt"]
	path = submodules/mtb-example-optiga-nbt-adt
	url = https://github.com/Infineon/mtb-example-optiga-nbt-adt.git
[submodule "submodules/mtb-example-optiga-nbt-pt"]
	path = submodules/mtb-example-optiga-nbt-pt
	url = https://github.com/Infineon/mtb-example-optiga-nbt-pt.git
[submodule "submodules/mtb-example-optiga-nbt-sch"]
	path = submodules/mtb-example-optiga-nbt-sch
	url = https://github.com/Infineon/mtb-example-optiga-nbt-sch.git
[submodule "submodules/optiga-nbt-lib-c-mtb"]
	path = submodules/optiga-nbt-lib-c-mtb
	url = https://github.com/Infineon/optiga-nbt-lib-c-mtb.git
[submodule "submodules/optiga-nbt-lib-c"]
	path = submodules/optiga-nbt-lib-c
	url = https://github.com/Infineon/optiga-nbt-lib-c.git
[submodule "submodules/optiga-nbt-lib-java"]
	path = submodules/optiga-nbt-lib-java
	url = https://github.com/Infineon/optiga-nbt-lib-java.git
[submodule "submodules/optiga-nbt-lib-swift"]
	path = submodules/optiga-nbt-lib-swift
	url = https://github.com/Infineon/optiga-nbt-lib-swift.git
[submodule "submodules/optiga-nbt-example-adt-android"]
	path = submodules/optiga-nbt-example-adt-android
	url = https://github.com/Infineon/optiga-nbt-example-adt-android.git
[submodule "submodules/optiga-nbt-example-adt-ios"]
	path = submodules/optiga-nbt-example-adt-ios
	url = https://github.com/Infineon/optiga-nbt-example-adt-ios.git
[submodule "submodules/optiga-nbt-example-bp-android"]
	path = submodules/optiga-nbt-example-bp-android
	url = https://github.com/Infineon/optiga-nbt-example-bp-android.git
[submodule "submodules/optiga-nbt-example-bp-ios"]
	path = submodules/optiga-nbt-example-bp-ios
	url = https://github.com/Infineon/optiga-nbt-example-bp-ios.git
[submodule "submodules/optiga-nbt-example-cott-flask"]
	path = submodules/optiga-nbt-example-cott-flask
	url = https://github.com/Infineon/optiga-nbt-example-cott-flask.git
[submodule "submodules/optiga-nbt-example-perso-android"]
	path = submodules/optiga-nbt-example-perso-android
	url = https://github.com/Infineon/optiga-nbt-example-perso-android.git
[submodule "submodules/optiga-nbt-example-perso-ios"]
	path = submodules/optiga-nbt-example-perso-ios
	url = https://github.com/Infineon/optiga-nbt-example-perso-ios.git
[submodule "submodules/optiga-nbt-example-pt-android"]
	path = submodules/optiga-nbt-example-pt-android
	url = https://github.com/Infineon/optiga-nbt-example-pt-android.git
[submodule "submodules/optiga-nbt-example-pt-ios"]
	path = submodules/optiga-nbt-example-pt-ios
	url = https://github.com/Infineon/optiga-nbt-example-pt-ios.git
